<toaster-container style="white-space: normal" [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-card-header>
    Document Types of linked claim documents
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (deleteConfirm)="deleteEntity($event)"
                     (editConfirm)="updateEntity($event)"
                     (createConfirm)="addEntity($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
