<toaster-container style="white-space: normal" [toasterconfig]="config"></toaster-container>
<nb-card>
  <nb-card-header>
    VAT Schemes
  </nb-card-header>

  <nb-card-body>
    <div class="wrapper">
      <ng2-smart-table [settings]="settings" [source]="source"
                       (deleteConfirm)="deleteEntity($event)"
                       (editConfirm)="updateEntity($event)"
                       (createConfirm)="addEntity($event)">
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
