@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(color-bg-active);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  .grid-h {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .table-responsive {
    margin-top: 1rem;
  }
}

nb-card {
  transform: translate3d(0, 0, 0);
}

.wrapper {
  overflow-x: scroll;
  white-space: nowrap;
}

.ng2-smart-th {
  white-space: nowrap;
}
